.clients-carousel {
  position: relative;
  max-width: 80%;
  margin: 90px auto 60px;
  overflow: hidden;

}

.clients-carousel__slide {
  list-style-type: none;
}

.clients-carousel__track-container {
  overflow: hidden;
  position: relative;
}

.clients-carousel__track {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

.carousel__image {
  padding: 40px 60px;
  width: 250px;
  height: 160px;
  display: block;
  border: 2px solid var(--color-for-brand-decoration_carousel);
}

.clients-carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-for-brand-button_carousel);
  color: var(--title-alternative-color);
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
  border-radius: 100px;
}

.clients-carousel__button--left {
  left: 10px;
}

.clients-carousel__button--right {
  right: 10px;
}