@import "global.css";
@import "footer.css";
body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
}

.content-wrapper {
  padding: 0 60px;
  overflow: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

header .contacts {
  background-color: #d60307;
  color: white;
  padding: 20px 0;
  font-weight: bold;
}

header .contacts a {
  color: white;
  text-decoration: none;
}

header .contacts a:hover {
  text-decoration: underline;
}

header .contacts .right a {
  margin-left: 20px;
}

header nav {
  background: black;
  padding: 40px 0;
}

header nav .logo {
  float: left;
  display: block;
  margin: 0 20px 0 0;
}

header nav .logo img {
  width: 180px;
}

header nav ul {
  list-style: none;
  display: inline-block;
}

header nav ul li {
  display: inline-block;
  margin: 0 8px;
}

header nav ul li a {
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
}

header nav ul li a:hover {
  text-decoration: underline;
}

header nav .socials li a {
  display: inline-block;
  border: solid white 1px;
  padding: 10px;
}
.homepage {
  color: red;
  height: 40px;
}