@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title-color: #222323;
  --title-alternative-color: #ffffff;
  --title-transparent-color: #22232375;
  --title-alternative-transparent-color: #ffffff9e;
  --text-color: #717474;
  --button-text-color: #ffffff;
  --accent-color: #f40106;
  --border-cart-color: #22232348;
  --background-form-color: #2223230f;
  --form-background-color: #e4e4e4;
  --button-line-color: #e3e3e3;
  --form-submit-success-color: #104212;
  --form-submit-warning-color: #583b0e;
  --form-submit-error-color: #721d17;
  font-family: "PT Sans", sans-serif;
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  margin: auto;
}
