.trending-collection-section {
  background: url(../img/trending/trending.jpeg);
  background-position: 45% 50%;
  background-size: cover;

  .trending-collection-section__container {
    padding: 110px 24px;

    .trending-collection-section__content-wrapper {
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 20px;

      .trending-collection-section__slogan {
        color: var(--title-transparent-color);
        font-size: 1.375rem;
      }

      .trending-collection-section__title-conatiner {
        display: flex;
        flex-direction: column;

        .trending-collection-section__title {
          color: var(--title-color);
          font-size: 3.875rem;
          font-weight: 400;
          line-height: 1em;

          .trending-collection-section__accent-dot {
            color: var(--accent-color);
          }
        }

        .trending-collection-section__play-icon {
          margin: 30px 0;
          color: var(--title-alternative-color);
          width: 50px;
        }

        @media (min-width:768px) {
          .trending-collection-section__title {
            font-size: 5.8125rem;
          }

          .trending-collection-section__play-icon {
            width: 70px;
          }
        }

        @media (min-width:1024px) {
          .trending-collection-section__title {
            font-size: 7.75rem;
          }

          .trending-collection-section__play-icon {
            width: 130px;
          }
        }
      }

      @media (min-width:768px) {
        .trending-collection-section__slogan {
          font-size: 1.4375rem;
        }
      }

      @media (min-width:1024px) {
        .trending-collection-section__slogan {
          font-size: 1.5rem;
        }

        .trending-collection-section__title-conatiner {
          flex-direction: row;
          align-items: center;
          gap: 20px;
        }
      }

      .trending-collection-section__button {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 1.03125rem;
        font-weight: 700;
        text-decoration: none;

        .trending-collection-section__icon {
          width: 24px;
        }
      }

      @media (min-width:1024px) {
        .trending-collection-section__button {
          margin-top: 30px;
        }
      }
    }

    @media (min-width:768px) {
      .trending-collection-section__content-wrapper {
        width: 55.5%;
      }
    }
  }

  @media (min-width:426px) {
    .trending-collection-section__container {
      padding: 160px 32px;
    }
  }

  @media (min-width:769px) {
    .trending-collection-section__container {
      padding: 205px 40px;
    }
  }
}