.map-container {
  width: 100%;
  height: 760px;
  position: relative;
}

/* Map styling */
.map-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Contact information */
.contact-box {
  height: 333px;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  background-color: var(--title-alternative-color);
  padding: 60px;
  width: 370px;
  border-radius: 12px;
  box-shadow:var(--title-transparent-color);
  text-align: center;
}
.dot {
  color: var(--accent-color);
}
.contact-box h1 {
  font-size: 52px;
  color: var(--title-color);
  margin-bottom: 10px;
}
.contact-box p {
  font-family: PT Sans, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  margin-bottom: 10px;
}
.contact-box a {
  font-family: PT Sans, sans-serif;
  font-size: 16px;
  color: var(--text-color);
  text-decoration: none;
}

.contact-box a:hover {
  text-decoration: underline;
}
