.mid-sale-section {
  padding: 110px 40px;
  color: var(--text-color);
  font-size: 1.3rem;
}

mid-sale-section p {
  color: var(--title-transparent-color);
}

.mid-sale-section__header-title {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--title-color);
}

@media (min-width: 600px) {
  .mid-sale-section__header-title {
    font-size: 3rem;
  }
}

.mid-sale-section__header-title span {
  color: var(--accent-color);
}

.mid-sale-section__header-description {
  text-transform: none;
}

.mid-sale-section__header,
.mid-sale-section__header-description {
  text-align: center;
  width: 100%;
}

.mid-sale-section__cards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 35px 0;
  gap: 25px;
}

.mid-sale-card button {
  background-color: var( --title-color);
  color: var(--title-alternative-color);
  padding: 15px 25px;
  border: 0px;
  font-weight: bold;
  font-size: 15px;
  &:hover {
    background-color: var(--accent-color);
    cursor: pointer;
    transition: all 0.3s ease;
  }
}

.mid-sale-card__price {
  color: var(--accent-color);
  font-weight: bold;
}

.mid-sale-card__title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.mid-sale-card__title,
.mid-sale-card__price {
  padding: 20px 0;
}

.mid-sale-card img {
  max-width: 260px;
}
