.newsletter {
  display: flex;
  align-items: center;
  background-image: url(../img/newsletter/newsletter_bg.png);
  background-size: cover;
  background-position: center;
  padding: 20px;
  border: 1px solid #ddd;
}

/* Image */
.newsletter__image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Content */
.newsletter__content {
  flex: 1;
  padding: 20px;
  text-align: left;
}

/* Title */
.newsletter__title {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin: 0 0 10px;
  color: var(--title-color);
}

.newsletter__title .discount {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 21px;
  color: var(--accent-color);
}

/* Text styles */
.newsletter__text {
    margin: 0 0 15px;
  color: var(--text-color);
}

.newsletter__form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
/* Form */
.newsletter__input {
  padding: 15px 26px;
  margin-bottom: 12px 0 0;
  width: 80%;
  border: 1px solid #ccc;
  background-color: lightgrey;
  border-radius: 5px;
}

.newsletter__input:focus {
  outline: none;
  border-color: #007bff;
}

/* Subscribe Button */
.newsletter__button {
  width: 80%;
  padding: 15px 26px;
  background-color: var(--accent-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.newsletter__button:hover {
  background-color: var(--accent-color);
}
