.sales-offers-section {
  margin: 60px 0;
  padding: 50px 40px;
}

.sales-offers-card--one {
  background-image: url(../img/sales-offers-section/sales-offers-section-arrivals-background.png);
  background-position: 30% 30%;
}

.sales-offers-card--two {
  background-image: url(../img/sales-offers-section/sales-offers-section-trainers-background.png);
  background-position: center;
}

.sales-offers-card--three {
  background-image: url(../img/sales-offers-section/sales-offers-section-hot-sale-background.png);
  background-position: center;
}

.sales-offers-card--one,
.sales-offers-card--two,
.sales-offers-card--three {
  background-size: cover;
  min-height: 300px;
  min-width: 230px;
}

.sales-offers-card__title {
  font-size: 1.7rem;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 15px;
}

.sales-offers-card__title span {
  color: var(--red-accent-color);
}

.sales-offers-card__link {
  color: var(--title-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
}

.sales-offers-card__link:hover {
  text-decoration: underline;
}

.sales-offers-card__line {
  width: 30%;
  height: 2px;
  background-color: var(--accent-color);
  margin-top: 4px;
}

.sales-offers-section__cards-navigation {
  display: grid;
  gap: 30px;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  transition: all 0.3s ease;
}

.sales-offers-card {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

@media (min-width: 800px) {
  .sales-offers-section__cards-navigation {
    grid-template-columns: 0.8fr 0.5fr 0.5fr;
    grid-template-rows: auto;
  }

  .sales-offers-card--one,
  .sales-offers-card--two,
  .sales-offers-card--three {
    min-height: 400px;
  }

  .sales-offers-card__title {
    font-size: 2.9rem;
  }

  .sales-offers-section {
    padding: 100px;
  }

}