.store-content {
    margin: 90px 0;
    padding: 0 24px;

    .store__wrapper {
        margin-bottom: 56px;

        .store__title,
        .store__subtitle {
            font-size: 1.875rem;
            font-weight: 400;
        }

        .store__title {
            margin-bottom: 93px;
        }

        @media (min-width:768px) {

            .store__title,
            .store__subtitle {
                font-size: 2.065rem;
            }

            .store__title {
                margin-bottom: 98px;
            }
        }

        @media (min-width:1024px) {

            .store__title,
            .store__subtitle {
                font-size: 2.25rem;
            }
        }

        .store__content-container {
            margin-top: 25px;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 30px;

            .store__item {
                .store__item-title {
                    margin-top: 8px;
                    font-size: 1.125rem;
                    font-weight: 400;

                    .store__item-link {
                        text-decoration: none;
                        color: var(--text-color);

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .store__item-price {
                    margin-top: 16px;
                    font-size: 1.25rem;
                    font-weight: 700;
                    color: var(--accent-color);
                }

                .store__item-button {
                    margin-top: 24px;
                }
            }
        }

        @media (min-width:426px) {

            .store__content-container {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        @media (min-width:769px) {

            .store__content-container {
                margin-top: 15px;
                grid-template-columns: repeat(3, 1fr);
            }
        }

        @media (min-width:1025px) {

            .store__content-container {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }

    .store__navigation {
        margin-top: 100px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;

        .store__pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;

            .store__pagination-arrow {
                margin: 0 6px;
                color: var(--text-color);
                text-decoration: none;
                font-size: 1rem;

                &:hover {
                    cursor: pointer;
                    color: var(--title-color);
                }
            }

            .store__pagination-arrow--disabled {
                pointer-events: none;
                opacity: 0.2;
                cursor: not-allowed;
            }

            .store__pagination-pages {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4px;

                .store__pagination-page {
                    text-decoration: none;
                    padding: 6px;
                    font-family: "PT Sans", sans-serif;
                    font-size: 1rem;
                    font-weight: 600;
                    color: var(--text-color);

                    &:hover {
                        cursor: pointer;
                        color: var(--title-color);
                    }
                }

                .store__pagination-page--current {
                    background: var(--accent-color);
                    border-radius: 6px;
                    padding: 5px 10px;
                    color: var(--button-text-color);
                    font-size: 0.9rem;
                    font-weight: 400;

                    &:hover {
                        background: var(--title-color);
                        color: var(--button-text-color);
                    }
                }
            }
        }

        @media (min-width:768px) {
            .store__pagination {
                position: absolute;
                left: 50%;
                right: 50%;
            }
        }

        .store__item-filter {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;

            .store__item-filter-label {
                font-size: 0.875rem;
                ;
                color: var(--text-color);
            }

            .store__item-filter-container {
                position: relative;
                display: inline-block;
                flex: 0;

                .store__item-filter-select {
                    appearance: none;
                    padding: 4px 24px 4px 12px;
                    border: 1px solid var(--select-border-color);
                    border-radius: 3px;
                    box-shadow: 0 1px 0 var(--select-box-shadow-color);
                    outline: none;
                }
            }

            .store__item-filter-container::after {
                content: "▼";
                position: absolute;
                right: 12px;
                top: 46%;
                transform: translateY(-50%);
                pointer-events: none;
                font-size: 12px;
                color: var(--text-color);
            }
        }
    }

    @media (min-width:768px) {
        .store__navigation {
            flex-direction: row;
            align-items: center;
            justify-content: start;
        }
    }

    @media (min-width:1024px) {}
}

@media (min-width:768px) {
    .store-content {
        margin: 95px 0;
    }
}

@media (min-width:1024px) {
    .store-content {
        margin: 100px 0;
    }
}