.hero__background {
    background: center / cover no-repeat url("https://res2.weblium.site/res/60080b98d4893c0021b21b64/6010362c704e5a002223b6eb?nowebp");
    height: 666px;
    padding: 110px 0 120px 0;
    /* background-size: cover; */
    margin-bottom: 20px;
}

.hero__content_container {
    height: 100%;
    max-width: 600px;
    margin: 0 10% 0 45%;
}

.hero__subtitle {
    font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 40px;
  color: #FFFFFF9E;
  /* margin-bottom: 8px; */
}

.hero__feature-icon {
  height: 18px;
}

.hero__title {
    font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  color: #FFFFFF;
  line-height: 100px;
  text-align: left;
}

.hero__features {
  display: flex;
  align-items: center;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  list-style: none;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: bold;
}

.hero__feature {
  padding: 15px;
  display: flex;
  gap: 5px;
}

.hero__description {
  padding-top: 15px;
  color: #FFFFFF;
  font-size: 16px;
  width: 500px;
  text-align: justify;
  padding-bottom: 15px;
}

.hero__button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  color: white;
  text-decoration: none;
  text-align: center;
  border: 2px solid white;
  transition: all 0.3s ease;
  font-weight: bold;
}

.hero__button:hover {
  color: black;
  background-color: white;
}

.hero__button:after {
  transition: transform 0.3s ease;
}

.hero__button:hover:after {
  transform: translateX(5px);
}

@media (max-width: 1200px) {
  .hero__content_container{ 
    margin: 0 10% 0 45%;
    width: 100%;
  }
}  

@media (max-width: 1000px) {
  .hero__content_container{ 
    margin: 0 10% 0 35%;
  }
}


@media (max-width: 740px) {
  .hero__content_container{ 
    margin: 0 10% 0 20%;
  }
}


@media (max-width: 321px) {
  .hero__content_container{ 
    margin: -25% 10% 0 2%;
  }
  .hero__description {
    width: 80%;
  }
}