.hero__background {
  background: center / cover no-repeat url("https://res2.weblium.site/res/60080b98d4893c0021b21b64/6010362c704e5a002223b6eb?nowebp");
  height: 700px;
  margin-bottom: 20px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: 60% 50%;
}

.hero__content_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.hero__subtitle {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-size: 1.25rem;
  font-style: normal;
  text-align: left;
  line-height: 2.5rem;
  color: var(--title-alternative-color);
  opacity: 0.6;
}

.hero__feature-icon {
  height: 1.125rem;
}

.hero__title {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.375rem;
  color: var(--title-alternative-color);
  text-align: left;
}

.hero__features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  color: var(--title-alternative-color);
  font-size: 0.8125rem;
  font-weight: bold;
}

.hero__feature {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.hero__description {
  padding-top: 15px;
  color: var(--title-alternative-color);
  font-size: 1.25rem;
  max-width: 400px;
  text-align: justify;
  padding-bottom: 15px;
}

.hero__button {
  width: 50%;
  padding: 0.625rem 1.25rem;
  font-size: 0.875rem;
  color: var(--title-alternative-color);
  text-decoration: none;
  text-align: center;
  border: 2px solid var(--title-alternative-color);
  transition: all 0.3s ease;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.hero__button:hover {
  color: var(--title-color);
  background-color: var(--title-alternative-color);
}

.hero__title br {
  display: none;
}

@media (min-width:850px) {
  .hero__background {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 40px 200px;
  }

  .hero__title br {
    display: block;
  }

  .hero__subtitle {
    font-size: 1.875rem;
  }

  .hero__title {
    font-size: 6.875rem;
  }

  .hero__feature {
    font-size: 0.9375rem;
  }

  .hero__button {
    font-size: 1rem;
  }
}